@layer components {
    div, nav, a, ul, li, p, h3 {
        /*@apply border border-red-200;*/
    }

    [aria-label="Body"] pre {
        background-color: #f6f6f6 !important;
    }

    .prose :where(code):not(:where([class~="not-prose"] *))::before {
        content: "";
    }

    .prose :where(code):not(:where([class~="not-prose"] *))::after {
        content: "";
    }

    .prose p :where(code):not(:where([class~="not-prose"] *)) {
        background-color: #e3e6e8 !important;
        padding: 2px 4px;
        border-radius: 3px;
        color: #232629;
        font-weight: normal;

    }

    .prose :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)){
        background-color: #e3e6e8 !important;
        padding: 2px 4px;
        border-radius: 3px;
        color: #232629;
        font-weight: normal;
    }

    #content > div > div.shrink.max-w-\[837px\] > article > div.grid.max-w-none.prose > pre {
        margin-top: .5rem;
        margin-bottom: 0;
    }


    .prose :where(p):not(:where([class~="not-prose"] *)) {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #content > div > div.shrink.max-w-\[837px\] > article > div.grid.max-w-none.prose > blockquote {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #content > div > div.shrink.max-w-\[837px\] > article > div.grid.max-w-none.prose > blockquote p {
        margin-bottom: 1rem;
    }

    .prose :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
        margin-top: 0.5rem !important;
    }

    .prose :where(h3):not(:where([class~="not-prose"] *)){
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .prose :where(h2):not(:where([class~="not-prose"] *)){
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .prose :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
        margin-top: 0;
    }

    .prose :where(ul):not(:where([class~="not-prose"] *)) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .prose :where(li):not(:where([class~="not-prose"] *)) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .prose :where(ol):not(:where([class~="not-prose"] *)) {
        margin-top: 0;
        margin-bottom: 0;
    }
}


