@layer components {
    div, nav, a, ul, li, p, h3 {
        /*@apply border border-red-200;*/
    }

    label:has(> [type='radio']:checked) {
        background-color: var(--primary);
        color: white;
    }

    [type='radio'] {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    [type='radio']:checked {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    #content .prose img {
        margin-top: 0;
        margin-bottom: 0;
    }

    #published-content > ul > li > code {
        background-color: #e3e6e8 !important;
        padding: 2px 4px;
        border-radius: 3px;
        color: #232629;
        font-weight: normal;
    }

    #published-content > hr {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    [aria-label="Body"] pre {
        background-color: #f6f6f6 !important;
    }

    #published-content code::before {
        content: "";
    }

    #published-content code::after {
        content: "";
    }

    #published-content p code {
        background-color: #e3e6e8 !important;
        padding: 2px 4px;
        border-radius: 3px;
        color: #232629;
        word-break: break-all;
        font-weight: normal;
    }


    #published-content p {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #published-content code {
        word-break: break-all;
    }

    #published-content > ul > li > code:last-child {
        background-color: #e3e6e8 !important;
        padding: 2px 4px;
        border-radius: 3px;
        color: #232629;
        font-weight: normal;
    }

    #content > div > div.shrink.max-w-post-2col > article > div.grid.max-w-none.prose > pre {
        margin-top: .5rem;
        margin-bottom: 0;
    }

    #content > div > div.shrink.max-w-post-2col > article > div.grid.max-w-none.prose > blockquote {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #content > div > div.shrink.max-w-post-2col > article > div.grid.max-w-none.prose > blockquote p {
        margin-bottom: 1rem;
    }

    #published-content > :last-child {
        margin-top: 0.5rem;
    }

    #published-content h3, #published-content h2 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    #published-content ul, #published-content li, #published-content ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}


